:root {
    --grid-cols: 16;
    --grid-rows: 16;
    --color: #000000;
}

* {
    box-sizing: border-box;
    border: 1px red solid;
}

.colorClass {
    background-color: var(--color);
}

html, body {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h1 {
    text-align: center;
    /* color: var(--color); */
}

/* GRID */

.grid-and-input {
    max-width: 100%;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    max-width: 544px;
    max-height: 544px;
}

.grid-item {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;
  }


/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (max-width: 696px) {
   .grid-and-input {
    max-width: fit-content;

   }

   #grid-container {
    max-width: fit-content;
   }
}
